#Minecraft server properties
#Wed Jun 02 15:00:19 EDT 2021
enable-jmx-monitoring=false
level-seed=
enable-command-block=false
gamemode=survival
enable-query=false
generator-settings=
level-name=world
motd=\u00A76PRIVATE \u00A73Welcome \u00A7eto \u00A7b.\:{{ mcdir }}\:.
query.port={{ server_port }}
pvp=true
generate-structures=true
difficulty=easy
network-compression-threshold=256
max-tick-time=60000
max-players=10
use-native-transport=true
enable-status=true
online-mode=true
allow-flight=false
broadcast-rcon-to-ops=true
view-distance=10
max-build-height=256
server-ip=10.1.1.203
allow-nether=true
server-port={{ server_port }}
sync-chunk-writes=true
enable-rcon=false
server-name={{ mcdir }}
op-permission-level=4
prevent-proxy-connections=true
resource-pack=https\://www.dropbox.com/s/42uw7h4h2zpslyb/depixel-extended.zip?dl\=1
entity-broadcast-range-percentage=100
rcon.password=
player-idle-timeout=60
force-gamemode=false
debug=false
rate-limit=0
hardcore=false
white-list=false
broadcast-console-to-ops=true
spawn-npcs=true
spawn-animals=true
snooper-enabled=true
function-permission-level=2
level-type=default
text-filtering-config=
spawn-monsters=true
enforce-whitelist=true
spawn-protection=0
resource-pack-sha1=cc6f4937520cda686afdcf26daf17eca851db445
max-world-size=29999984
